<div class="navbar navbar-default" >
  <div class="container-fluid" style="padding-top:6px;">
    <div class="row" >
      <div class="col-xs-8 col-xs-offset-2 active text-center" >
        <h4 >如何授权公积金</h4>
      </div>
      <div class="col-xs-2 text-right" >
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true"><img src="../images/db-close.png" width="20" ng-click="close()" style="cursor:pointer;"></span><span class="sr-only">Close</span></button>
      </div>
     </div>  
  </div>
</div><!--Close.nav-->
<div class="container-fluid">
   <div class="row">
	   <div class="col-xs-10 col-xs-offset-1">
          <h4>选择您所缴纳的公积金城市，以上海为例：</h4>
          <p style="margin-top:1.4em;">请在品而授权公积金页面，填写您在上海住房公积金网<a style="color:#7b37a6;" href="https://persons.shgjj.com/">https://persons.shgjj.com/</a>的账号和密码。建议电脑/手机浏览器打开。
          </p>
          <p style="margin-top:1.4em;">如您尚未注册，
          </p>
          <p >请前往<a style="color:#7b37a6;" href="https://persons.shgjj.com/usertext.htm">https://persons.shgjj.com/usertext.htm</a>进行注册。如您不知道您的公积金账号，请咨询贵公司人事。
          </p>
          <br><br><br>
      </div>
   </div>
</div>
