<div class="navbar navbar-default" >
  <div class="container-fluid" style="padding-top:6px;">
    <div class="row" >
      <div class="col-xs-8 col-xs-offset-2 active text-center" >
        <h4 >公积金授权协议</h4>
      </div>
      <div class="col-xs-2 text-right" >
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true"><img src="../images/db-close.png" width="20" ng-click="close()" style="cursor:pointer;"></span><span class="sr-only">Close</span></button>
      </div>
     </div>  
  </div>
</div><!--Close.nav-->
<div class="container-fluid">
   <div class="row">
	   <div class="col-xs-10 col-xs-offset-1">
          <p >广州市住房公积金个人住房按揭贷款（以下简称公积金贷款），被定义为提供住房公积金缴存职工，在本市行政区域内购买住房来申请住宅按揭贷款的购房者.. 6，借款人可享受住房公积金贷款几次，但前提是基金在此之前还清贷款广州市住房公积金个人住房按揭贷款（以下简称公积金贷款），被定义为提供住房公积金缴存职工，在本市行政区域内购买住房来申请住宅按揭贷款的购房者.. 6，借款人可享受住房公积金贷款几次，但前提是基金在此之前还清贷款广州市住房公积金个人住房按揭贷款（以下简称公积金贷款），被定义为提供住房公积金缴存职工，在本市行政区域内购买住房来申请住宅按揭贷款的购房者.. 6，借款人可享受住房公积金贷款几次，但前提是基金在此之前还清贷款广州市住房公积金个人住房按揭贷款（以下简称公积金贷款），被定义为提供住房公积金缴存职工，在本市行政区域内购买住房来申请住宅按揭贷款的购房者.. 6，借款人可享受住房公积金贷款几次，但前提是基金在此之前还清贷款广州市住房公积金个人住房按揭贷款（以下简称公积金贷款），被定义为提供住房公积金缴存职工，在本市行政区域内购买住房来申请住宅按揭贷款的购房者.. 6，借款人可享受住房公积金贷款几次，但前提是基金在此之前还清贷款广州市住房公积金个人住房按揭贷款（以下简称公积金贷款），被定义为提供住房公积金缴存职工，在本市行政区域内购买住房来申请住宅按揭贷款的购房者.. 6，借款人可享受住房公积金贷款几次，但前提是基金在此之前还清贷款</p>
      </div>
   </div>
</div>
