<div class="navbar navbar-default" >
  <div class="container-fluid" style="padding-top:6px;">
    <div class="row" >
      <div class="col-xs-8 col-xs-offset-2 active text-center" >
        <h4 >如何获取征信报告</h4>
      </div>
      <div class="col-xs-2 text-right" >
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true"><img src="../images/db-close.png" width="20" ng-click="close()" style="cursor:pointer;"></span><span class="sr-only">Close</span></button>
      </div>
     </div>  
  </div>
</div><!--Close.nav-->
<div class="container-fluid zxrhsq-content">
   <div class="row">
	   <div class="col-xs-12 ">
		   <h4>1.在“人民银行征信中心”页面申请信用信息地址：<br>
		   <a href="https://ipcrs.pbccrc.org.cn" target="_blank">https://ipcrs.pbccrc.org.cn</a><br>(建议电脑/手机浏览器打开)</h4>
	   </div>
	   <div class="col-xs-12 ">
		   <div class="disc-number">1</div>
		   <span>进入征信中心，完成注册后立即登录</span>
		   <img src="../images/mobile/zx1.jpg" class="img-responsive" />
	   </div>

	   <div class="col-xs-12 ">
		   <div class="disc-number">2</div>
		   <span>进入新手导航，点击“下一步”</span>
		   <img src="../images/mobile/zx2.jpg" class="img-responsive" />
	   </div>

	   <div class="col-xs-12 ">
		   <div class="disc-number">3</div>
		   <span>选择问题验证，点击“下一步”</span>
		   <img src="../images/mobile/zx3.jpg" class="img-responsive" />
	   </div>

	   <div class="col-xs-12 ">
		   <div class="disc-number">4</div>
		   <span>选择问题验证，点击“下一步”</span>
		   <img src="../images/mobile/zx4.jpg" class="img-responsive" />
	   </div>

	   <div class="col-xs-12 ">
		   <div class="disc-number">5</div>
		   <span>问题验证完成之后，下列信用报告信息全部勾选，点击“下一步”</span>
		   <img src="../images/mobile/zx5.jpg" class="img-responsive" />
	   </div>
	   <div class="col-xs-12 ">
		   <div class="disc-number">6</div>
		   <span>等待一个工作日身份验证审核，如果审核通过，则将在第二日收到“身份验证码”短信。</span>
	   </div>
	   <div class="col-xs-12 " style="margin-top:1.4em;">
		   <h4>2.获得“身份验证码”7日内，进入品而的“征信授权页面”进行授权。如超过7日，则需登录征信中心，重新申请信用信息，获取新的“身份验证码”。<br>
	   </div>
   </div>


</div>
