<%include ./nav %>
<div class="about-top">
  <div class="shadow">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>关于品而</h1>
          <p class="text-left">品而是一个位于旧金山和上海的金融科技公司，我们将大数据分析、数学建模、机器学习等数据科技应用于金融行业中，致力于通过现代互联网高效、精准的数据技术来改善目前高成本、低效的人工主导的信用评估和授信体系。通过科技降低成本、提高效率、将最大的利益返还到用户手中。</p>
          <button type='button' onclick='javascript:window.location.href="/joinus"'>加入我们</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container concept">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>我们的理念</h1>
    </div>
  </div>
  <div class="row mT-50 values">
    <div class="col-md-6">
      <img src='images/svg/values1.svg'>
      <h3>信任</h3>
      <p>用户的信任是我们最宝贵的财富。我们和用户一样关注安全和隐私，我们会竭尽全力保护用户的个人敏感信息来赢得用户的信任。</p>
    </div>
    <div class="col-md-6">
      <img src='images/svg/values2.svg'>
      <h3>透明</h3>
      <p>我们相信，公开透明是最好的沟通方式。我们与用户、商户和投资人之间的坦诚沟通能是我们的合作更加密切。</p>
    </div>
    <div class="col-md-6">
      <img src='images/svg/values6.svg'>
      <h3>科技驱动</h3>
      <p>我们通过信息技术来使传统金融行业变得更加高效，并将高效带来的红利回馈于我们的用户和合作商户。</p>
    </div>
    <div class="col-md-6">
      <img src='images/svg/values6.svg'>
      <h3>卓越体验</h3>
      <p>我们会不懈地提升我们的产品和服务，我们深知，只有卓越的用户体验才能使我们的用户和合作商户获得满足。</p>
    </div>
  </div>

  <div class="row mT-100 investor">
    <div class="col-md-12 text-center">
      <h1>投资机构</h1>
    </div>
    <div class="col-md-12 text-center">
      <img src='images/investor1.png'>
      <img src='images/investor2.png'>
    </div>
  </div>
</div>
<%include ./footer %>