<%include ./nav %>
<div class="checkout-top">
  <div class="container">
    <div class="wrap">
      <h1>结算</h1>
      <h4>最为流畅的网页端和手机端结算流程</h4>
      <p>我们的结算流程可以嵌入到电脑，平板和手机之中。整个结算流程可以在您的网站或APP内部进行，用户可以在不需要跳转的情况下流畅迅速的完成整个支付流程。</p>
    </div>
  </div>
</div>

<div class="checkout-block">
  <div class="container payment">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="placeholder hidden-xs">
        </div>
        <h4>轻触支付</h4>
        <p>我们将结算的过程简化至轻轻一触。无需再输入复杂的卡号，只需输入手机号并轻扫指纹，即可完成支付。</p>
      </div>
      <div class="col-md-6 col-sm-6 text-center">
        <img src="../images/checkout.gif">
      </div>
    </div>
  </div>
</div>

<div class="checkout-block">
  <div class="container customize">
    <div class="row">
      <div class="col-md-6 col-sm-6 pL-0 pR-0 text-center">
        <div class="placeholder hidden-xs"></div>
        <img src="../images/checkout-2.png" style='width:580px;'>
      </div>
      <div class="col-md-6 col-sm-6 pR-0">
        <div class="placeholder2 hidden-xs"></div>
        <h4>定制化</h4>
        <p>我们的结算流程根据不同的设备进行了精心的定制，保证用户能在任何使用场景中获得最佳的体验。</p>
      </div>
    </div>
  </div>
</div>

<div class="checkout-block">
  <div class="container change">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="placeholder hidden-xs">
        </div>
        <h4>不断的改善</h4>
        <p>您不需要精通支付技术也可以展开业务——把那些问题都留给我们吧。使用我们的结算流程，品而的工程师和设计师将会为您提供技术支持，不断的改善您的支付体验。</p>
      </div>
      <div class="col-md-6 col-sm-6 pL-0 pR-0 text-center">
        <img src="../images/checkout-3.png" style='width:400px;'>
      </div>
    </div>
  </div>
</div>

<div class="checkout-block">
  <div class="container integration">
    <div class="row">
      <div class="col-md-6 col-sm-6 pL-0 pR-0 text-center">
        <div class="placeholder hidden-xs"></div>
        <img src="../images/checkout-4.png" style='width:490px;'>
      </div>
      <div class="col-md-6 col-sm-6 pR-0">
        <div class="placeholder2 hidden-xs"></div>
        <h4>简单的整合</h4>
        <p>只需几行代码，轻松搞定。</p>
      </div>
    </div>
  </div>
</div>

<%include ./footer %>