<%include ./nav%>
<div class="corp-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs"></div>
      <div class="col-md-6 col-sm-12">
        <div class="wrap">
          <h1>品而金融</h1>
          <h2>更快还款，更低费率</h2>
          <h4>技术支持：021-5190-3539</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row advantage">
    <div class="col-md-6">
      <div class="instant">
        <img src='images/svg/corp-special1.svg' />
        <div class="desc">
          <h1>增加收入</h1>
          <p class="w-gray">优质的用户，跨境结算方案，全新的渠道，品而金融助您提高流量和营业额。</p>
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="flexible">
        <img src='images/svg/corp-special2.svg' />
        <div class="desc">
          <h1>风险隔离</h1>
          <p class="w-gray">品而金融帮您隔离诈骗和退款风险，让您的收入更有保障。</p>
          <p>&nbsp;</p>
        </div>
      </div>

      <div class="global">
        <img src='images/svg/corp-special3.svg' />
        <div class="desc">
          <h1>快速回款</h1>
          <p class="w-gray">回款最快仅需两天，快速周转的现金流量使您能把握更多商业机遇。</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 text-center">
      <div class="text-center" style="margin:0 auto;padding:100px;padding-bottom:0px;">
        <img src='images/corp-special.png' style="width:90%;margin-top:-150px;" class="img-responsive" />
      </div>
    </div>
  </div>
</div>

<div class="fees-wrap mT-corp1">
  <div class="container">
    <div class="row fees text-center">
      <div class="col-md-12">
        <img class="main" src='images/svg/merchant-lowpricing200-150.svg' style="width:200px;height:150px;" />
        <h1>1%</h1>
        <h3>所有成功交易仅需 1% 的手续费</h3>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <ul>
          <li>
            <img src='images/lowpricing1.png'>
            <span>无隐藏费用</span>
          </li>
          <li>
            <img src='images/lowpricing2.png'>
            <span>无转账费用</span>
          </li>
          <li>
            <img src='images/lowpricing3.png'>
            <span>无费率差价</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row api mT-corp1">
    <div class="col-md-6 text-center">
      <img src='images/企业6-2.png' class="img-responsive">
    </div>
    <div class="col-md-6 text-center">
      <h1>简单的整合</h1>
      <p class="w-gray">通过品而金融的SDK和RESTful API便可轻松在网页和移动端收款</p>
      <button type='button' onclick="window.location.href='/merchants/doc'">查看文档</button>
    </div>
  </div>

  <div class="row checkout mT-corp">
    <div class="col-md-6">
      <h1>结算</h1>
      <p class="w-gray">您可以再网页和移动端使用我们预先制作的结算模板，或者定制专属于您的结算模板。</p>
      <button type='button' onclick="window.location.href='/corporation/checkout'">了解结算流程</button>
    </div>
    <div class="col-md-6 text-center">
      <img src="images/easy-check-out2.png">
    </div>
  </div>

  <div class="row show-off text-center mT-corp">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <h1>图形化的数据展示</h1>
      <p class="w-gray text-left">我们将您的交易数据进行了图形化的处理，您可以更清晰直观的查看您的交易数据。灵活导出数据，制作报表更加轻松。</p>
    </div>
    <div class="col-md-12">
      <!--<button type="button">查看演示账户</button>-->
    </div>
    <div class="col-md-8 col-md-offset-2">
      <img class="img-responsive" src='images/企业8-2.png' />
    </div>
  </div>

</div>
<%include ./footer%> 