<%include ./nav %>
<div class="faq-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1>常见问题</h1>
      </div>
    </div>
  </div>
</div>

<div class="container faq-user">
  <div class="row">
    <h3>
      <span>个人用户：</span>
    </h3>
  </div>
  <div class="row">
    <h4>
      <ul>
        <li>什么是品而信用？</li>
      </ul>
    </h4>
    <p>品而信用是一款全新的、位于您手机上的数字信用卡。您可以下载我们的手机客户端，只需填写一些您的个人信息，便可以申请品而的信用额度。您的品而信用额度可以直接在我们的合作商户中消费使用。您还可以在我们的APP中管理您的账单、进行还款、并且邀请好友获得红包。</p>
  </div>

  <div class="row">
    <h4>
      <ul>
        <li>我可以申请品而信用吗？</li>
      </ul>
    </h4>
    <p>只要您满足以下条件，便可以申请品而信用额度：</p>
    <ul class="sub">
      <li>年满18周岁的中国大陆公民</li>
      <li>拥有一部智能手机</li>
      <li>拥有中国大陆手机号码</li>
      <li>拥有中华人民共和国第二代身份证</li>
      <li>拥有一张您本人名下的中国境内银行所发行的借记卡</li>
      <li>没有不良信用记录</li>
    </ul>
  </div>

  <div class="row">
    <h4>
      <ul>
        <li>如何申请品而信用？</li>
      </ul>
    </h4>
    <p>请先下载我们的品而信用APP，填写您的身份信息并且绑定您的银行卡，便可以使用您的初步额度了。</p>
  </div>

  <div class="row">
    <h4>
      <ul>
        <li>如何提高我的品而信用额度？</li>
      </ul>
    </h4>
    <p>您可以在品而信用APP的“我的额度”页面中点击“总额度”，或者在“菜单” - “我的账户” - “信用资料”中添加绑定的账户来提高您的额度。我们的大数据和机器学习引擎会将您额度提高的结果实时反馈给您。</p>
  </div>

  <div class="row">
    <h4>
      <ul>
        <li>如何使用品而信用进行消费？</li>
      </ul>
    </h4>
    <p>您可以在品而信用APP中浏览我们的合作商户，并且在结算时选择“使用品而信用付款”作为您的结算方式。您可以通过输入支付密码、扫描指纹、输入动态验证码等多种验证方式完成付款。</p>
  </div>

  <div class="row">
    <h4>
      <ul>
        <li>我使用了品而信用消费，如何进行还款？</li>
      </ul>
    </h4>
    <p>目前品而信用仅支持通过手机客户端进行还款，请先在您的手机上安装品而信用APP。您可以在“我的额度”页面中点击“立即还款”进行还款。您只能通过您本人名下的借记卡进行还款，可以通过您已经绑定的银行卡、或者新添加一张您本人名下的借记卡进行还款。</p>
  </div>

  <div class="row">
    <h4>
      <ul>
        <li>我使用了品而信用消费，如何进行还款？</li>
      </ul>
    </h4>
    <p>目前品而信用仅支持通过手机客户端进行还款，请先在您的手机上安装品而信用APP。您可以在“我的额度”页面中点击“立即还款”进行还款。您只能通过您本人名下的借记卡进行还款，可以通过您已经绑定的银行卡、或者新添加一张您本人名下的借记卡进行还款。</p>
  </div>
</div>

<div class="container faq-user">
  <div class="row">
    <h3>
      <span>企业用户：</span>
    </h3>
  </div>
  <div class="row">
    <h4>
      <ul>
        <li>如何在查看用户的付款信息？</li>
      </ul>
    </h4>
    <p>您可以使用您的企业账号登录品而信用企业入口（<a href='/Corporation' style="color:#7b37a6;"> http://pierup.cn/Corporation </a>），用户付款信息会实时显示在您的控制面板中。您还可以通过控制面板查看交易记录、收益和用户数据。您可以通过我们的<a href='/Corporation' style="color:#7b37a6;">演示账户</a>了解更多信息。</p>
  </div>
  <div class="row">
    <h4>
      <ul>
        <li>品而金融是否会收取额外的费用？</li>
      </ul>
    </h4>
    <p>品而针对每笔交易仅收取一笔固定费用和总额1%的手续费，没有其他任何隐藏费用。同时也不再另外收取退款手续费。品而将致力于为商户提供更公平和更具竞争力的费率。</p>
  </div>
  <div class="row">
    <h4>
      <ul>
        <li>如何与品而金融进行整合？</li>
      </ul>
    </h4>
    <p>在您的结算方式中添加品而金融非常简便。通过使用我们的SDK和RESTful API，您可以轻松的将品而信用添加到您的结算方式中。您可以通过查看我们的<a href='/doc' style="color:#7b37a6;"> 接入文档</a>获得更加详尽的信息，如果您有疑问，请发送邮件至admin@pierup.com，我们的工程师会为您提供帮助。</p>
  </div>
    <br>
    <br>
    <br>
    <br>
</div>

<%include ./footer %>