<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="QR-code"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="footer-image flag-cn"></div>
        <div class="footer-image flag-am" onclick="javascript:window.location.href='http://www.pierup.com'"></div>
        
        <p class="company-wording">上海品而数据科技有限公司  |  Pier, Inc.</p>
        <p style="color:#fff;"><img src="../images/qq.png" width="22" />客服QQ：3132716294</p>
        <p class="privacy">条款和隐私  |  上海品而数据科技有限公司版权所有 ICP证：
          <a href='http://www.miitbeian.gov.cn/' target='_blank' style='color:#fff;'> 沪ICP备 15030111</a></p>
      </div>
      <div class="col-md-6">
        <div class="text-center link">
          <div class="footer-image wechat" data-toggle="modal" data-target="#myModal"></div>
          <a target='_blank' href="http://weibo.com/PierUp"><div class="footer-image sina" ></div></a>
          <a target='_blank' href="mailto:admin@pierup.com"><div class="footer-image email" ></div></a>
        </div>
      </div>
      <div class="col-md-12 text-center"></div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> &times;</span>
        </button>
        <h4 class="text-center">扫一扫，添加品而的微信公众账号</h4>
      </div>
      <div class="modal-body text-center">
        <img src='../images/getqrcode.jpg'>
      </div>
    </div>
  </div>
</div><!--0.1.0-->
<!--<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript" SRC="https://seal.wosign.com/tws.js"></SCRIPT>-->
