<%include ./nav%>
<div class="home-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs">
        <div class="video-wrap"></div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="wrap">
          <h1>品而金融</h1>
          <h2>手机上的信用消费新方式</h2>
          <h4>申请便捷，审批快速，填写完信用资料，<br>额度多少马上知道。<br>
          <!-- 提现， -->购物，分期，信用额度灵活使用，<br>全方位支持您的消费需求。</h4>
        </div>
        <div class="qr-download-android">
          <img src="/images/android-app-download.png"  width="120" />
          <p> Android下载</p>
        </div>
        <div class="qr-download-ios">
           <img src="/images/ios-app-download.png"  width="120" />
           <p> iOS下载</p>
          <!--<p>iOS 即将上线</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hom-speciality">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="images/svg/instant.svg" />
        <div class="desc">
          <h1>迅速</h1>
          <p>科技，让我们再也无需漫长的审批和等待。</p>
          <p>只需几秒，我们的大数据计算就可以对你的信用进行精准的分析。了解您，只需一瞬。</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="images/svg/flexible.svg" />
        <div class="desc">
          <h1>灵活</h1>
          <p>在你最需要的时候，品而金融就在你手中。</p>
          <p>跨境消费，分期，<!-- 甚至提现， -->几次轻触便可完成。</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="images/svg/global.svg" />
        <div class="desc">
          <h1>全球</h1>
          <p>当距离不再是问题，支付不再是障碍，世界那么大，为什么不去买买买？</p>
          <p>跨境消费，分期，<!-- 甚至提现， -->几次轻触便可完成。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-instant"  >
  <div class="left-part" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
          <h3 class="text-center">快速申请</h3>
          <p>下载品而金融APP，填写信用资料，绑定银行卡，<br>上传身份证，额度马上到手，<br>授权更多信息可以帮助额度增长哦。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right-part">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-3 text-center col-sm-12" >
          <div class="home-video-bg">
            <video  autoplay class="img-responsive" loop>
              <source src="images/video/credit_cn.mp4" type="video/mp4">
              <source src="images/video/credit_cn.ogv" type='video/ogg' />
              <source src="images/video/credit_cn.webm" type='video/webm' />
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container"></div>

<div class="home-power" style="margin-top:160px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center col-sm-6 col-xs-12">
        <!-- <img src="resource/image/home-iphone.png" > -->
        <div class="home-video-bg" >
          <video  autoplay class="img-responsive" loop>
            <source src="images/video/credit_cn.mp4" type="video/mp4">
            <source src="images/video/credit_cn.ogv" type='video/ogg' />
            <source src="images/video/credit_cn.webm" type='video/webm' />
          </video>
        </div>
        <img src="images/home-flexible2.png" style="display:inlne; width:136px;margin-top:-320px;margin-left:-10px;" class="hidden-sm hidden-xs" />
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 home-withdraw-cash" >
        <h3 class="text-center">灵活使用</h3>
        <p>体现，消费，分期，<br>信用额度怎么用，完全由你决定，<br>品而金融满足您全方位的消费金融需求。</p>
      </div>
    </div>
  </div>
</div>

<div class="credit-model-wrap mT-home1 hidden-xs">
  <div class="container">
    <div class="row credit-model">
      <div class="col-md-12 text-center">
        <h2>省时，省钱，从未如此简单</h2>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="process">
          <span class="active">申请额度</span>
          <div class="arrow"></div>
          <div class="arrow1"></div>
          <span>提高额度</span>
          <div class="arrow"></div>
          <div class="arrow1"></div>
          <span>使用额度</span>
          <div class="arrow"></div>
          <div class="arrow1"></div>
          <span>还款与费率</span>
        </div>
        <div class="content">
          <div class="up part0 transition-margin"></div>
          <div class="wording">
            <p id="word0">凡是年满18岁的中国公民都可以申请品而信用。完成注册后，上传本人身份证并绑定至少一张银行卡（借记卡），就可以在额度内灵活使用信用。整个过程无需等待，额度瞬时到手。</p>
            <p id="word1">注册后，您可以在主页面点击“总额度”绑定第三方帐号，全面的信息使我们更了解您，有助于您额度的提升。</p>
            <p id="word2">您可以在品而商城中使用您的信用额度，也可以前往品而金融的合作海外商户购物并通过品而金融进行支付。</p>
            <p id="word3">品而金融向您提供30天的免息期，您可以通过APP查看并管理您的已出账单和未出账单。使用已绑定的银行卡，您可以随时随地轻松完成还款。如果您需要使用分期<!-- 或提现 -->服务，品而金融力争为您提供最优惠的费率，尽全力为您节省开支。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4 text-center">
        <!--<button type='button'> 品而金融模型</button>-->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row secure mT-home1 text-center">
    <div class="col-md-12">
      <img src='images/svg/user-secure220.svg' />
      <p>我们和您一样注重账户安全，</p>
      <p>有了您的信任我们才能不断前行。</p>
      <p>我们使用了最尖端的技术来保护你的账户安全。</p>
    </div>
    <div class="col-md-12">
      <button type="button" onclick='window.location.href="/secure"'>隐私和安全</button>
    </div>
  </div>
  <div class="row mT-home"></div>
</div>
<%include ./footer%>


