<%include ./nav %>
<div class="jobs-top text-center">
  <p>加入我们</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8.col-md-offset-2" id="jobs-container">
      <div class="cont-wrap">
        <div class="title">
          <img src='images/down.png'>
          <p>web前端工程师</p>
        </div>
        <div class="description">
          <h3>工作职责：
            <ol>
              <li>Javascript SDK 的开发。</li>
              <li>与产品经理等协作，分析并给出最优的web前端结构解决方案和效果实现。</li>
              <li>与后台开发工程师协作，完成各种数据交互、动态信息展现和用户的互动。</li>
              <li>维护及优化网站前端页面性能。</li>
            </ol>
          </h3>

          <h3>任职要求：
            <ol>
              <li>深刻理解web标准，熟悉大型网站页面架构和布局。</li>
              <li>熟练运用HTML、CSS、Javascript构建高性能的Web应用程序。</li>
              <li>熟悉DOM、AJAX、Json、XML等常见技术，能够熟练运用AJAX完成页面与后台数据的交互有加分。</li>
              <li>熟悉JavaScript、CSS浏览器兼容性解决方案，能够解决多浏览器版本兼容问题。</li>
              <li>有较强的沟通能力和团队协作能力，快速的学习能力，乐于分享与沟通。</li>
              <li>熟悉 RUBY／PYTHON 优先。</li>
            </ol>
          </h3>
        </div>
      </div>

      <div class="cont-wrap">
        <div class="title">
          <img src="images/down.png">
          <p>UX设计师</p>
        </div>
        <div class="description">
          <h3>工作职责：
            <ol>
              <li>配合产品经理，充分理解用户需求，负责相关产品和网站的交互原型、UI界面、宣传页面等规划设计，并对用户体验有正确的预估；认识用户的真实期望和目的，对用户群体共性有着敏锐的洞察力。</li>
              <li>负责互联网产品（Web应用、移动APP、WAP网站）的交互原型设计，完成UE文档；UE框架设计、交互设计和整体视觉需求制作。</li>
              <li>负责产品市场监控、调研与分析，把握互联网产品交互设计的流行趋势，不断改善产品交互体验以及视觉体验。</li>
              <li>能够根据产品需求制定用户研究计划，给出产品改进建议，结合可用性测试结果，完成交互行为和功能的改良，提高产品易用性，并编写相关的文档。</li>
              <li>协调和推动可用性测试及用户研究，以验证现有的和将来的功能设计。</li>
            </ol>
          </h3>
          <h3>任职要求：
            <ol>
              <li>全日制统招本科及以上学历，人机交互、工业设计、计算机、心理学相关专业优先，具备基础的交互设计理论，有3年以上UX设计经验。</li>
              <li>有iPhone、Android，Web网站UE设计经验，能够提供两个以上过往设计案例，对用户界面和用户体验的设计理论有全面的了解，能够独自完成高品质的界面和友好的体验设计。</li>
              <li>有网页设计、软件界面设计经验，对交互设计有较深的理解和大量的实践，熟悉交互设计工具(visio、axure等)的使用，可以独立完成整个设计过程（对流程图、线框图、原型图等交互设计方法能熟练应用）。</li>
              <li>对于各平台架构，以及不同版本的技术特性和局限性有相当的认识。</li>
              <li>熟悉产品开发流程，具有优秀的用户行为分析能力。</li>
              <li>具备良好的沟通能力及心理素质和独立解决问题的能力。</li>
              <li>良好的团队合作精神、较强的沟通能力。对互联网产品有激情，能够在较大压力下工作。</li>
              <li>带个人作品或提供可以访问的网站或可下载的应用有加分。</li>
              <li>有金融／支付产品经验者有加分。</li>
            </ol>
          </h3>
        </div>
      </div>

      <div class="cont-wrap">
        <div class="title">
          <img src="images/down.png">
          <p>机器学习，自然语言处理，算法</p>
        </div>
        <div class="description">
          <h3>工作职责：
            <ol>
              <li>应用移动定位、机器学习、自然语言处理、分类聚类等尖端技术来处理海量数据，分析与挖掘各种潜在关联，更好地挖掘与满足用户需求。</li>
              <li>用户体验策略优化，包括需求理解、需求交互、用户体验评估等相关策略工作。</li>
              <li>与后台开发工程师协作，完成各种数据交互、动态信息展现和用户的互动。</li>
              <li>深入研究业内领先的技术思路，输出具有创新价值的预研项目可行性分析报告及相关实验数据。</li>
            </ol>
          </h3>
          <h3>任职要求：
            <ol>
              <li>硕士及以上学历，具有互联网或者相关行业3年以上工作经验。</li>
              <li>对机器学习、数据挖掘算法及其在互联网行业的应用，有比较全面的认识和理解，至少对两类以上算法有深入研究。</li>
              <li>严密的数学思维、突出的分析和归纳能力、优秀的沟通表达能力。</li>
              <li>3年以上Linux环境下C/C++或Java开发经验，熟练使用一门以上脚本语言(PHP/PYTHON/PERL等)。</li>
              <li>有OpenMPI等并行化技术和系统开发经验优先。</li>
              <li>有Hadoop、Storm等分布式计算平台搭建及二次研发经验优先。</li>
            </ol>
          </h3>
        </div>
      </div>

      <div class="cont-wrap">
        <div class="title">
          <img src="images/down.png">
          <p>高级安全专家</p>
        </div>
        <div class="description">
          <h3>工作职责：
            <ol>
              <li>负责操作系统，API， 数据库及网络安全设计与规划，相应系统的安全加固等。</li>
              <li>负责公司整体安全体系和策略的规划和实施。</li>
              <li>负责对网站产品、服务和产品的安全规范制定、推广、评审。</li>
              <li>对开发人员提供安全相关建议，提升规范的可实施性。</li>
            </ol>
          </h3>
          <h3>任职要求：
            <ol>
              <li>熟悉IOS/Android客户端与服务器通讯机制及安全防护技术。</li>
              <li>熟悉IOS/Android客户端安全与应用系统审计。</li>
              <li>熟练掌握Linux和Windows操作系统安全以及网络安全相关知识。</li>
              <li>熟练掌握系统与网络攻击和防护方法。</li>
              <li>熟练掌握数据以及数据传输加密与解密实现原理和方法。</li>
              <li>熟悉Linux系统管理，熟练掌握shell/Python脚本之一。</li>
              <li>协助开发人员进行客户端全方位的代码审计工作；并及时给出相应的改正代码措施。</li>
              <li>优秀的沟通和团队合作能力、独立分析问题并解决的能力、良好的学习能力、积极主动的工作态度。</li>
            </ol>
          </h3>
        </div>
      </div>

      <div class="cont-wrap">
        <div class="title">
          <img src="images/down.png">
          <p>高级Android工程师</p>
        </div>
        <div class="description">
          <h3>工作职责：
            <ol>
              <li>负责Android手机客户端软件的技术设计和研发。</li>
              <li>参与客户端产品的架构设计，分析和发现系统的优化点。</li>
              <li>学习和研究新技术以满足产品的新需求。</li>
              <li>指导与培养工程师，提升团队整体技术水平。</li>
            </ol>
          </h3>
          <h3>任职要求：
            <ol>
              <li>3年以上开发工作经验，3年以上Android实际开发经验，能独立开发安卓手机客户端。</li>
              <li>精通Android开发平台及框架原理，以及Android控件的使用，熟练掌握Android界面和交互开发。</li>
              <li>有良好编码风格，追求代码执行效率。</li>
              <li>对Android APP性能优化和内存优化有深入了解，熟练掌握Android平台下的代码调试和调优技术。</li>
              <li>良好的沟通技能，以及团队合作能力，有团队管理能力者优先。</li>
              <li>具备较强的架构能力、设计能力、需求分析能力。</li>
            </ol>
          </h3>
        </div>
      </div>

      <div class="cont-wrap">
        <div class="title">
          <img src="images/down.png">
          <p>数据挖掘</p>
        </div>
        <div class="description">
          <h3>工作职责：
            <ol>
              <li>扎实的算法基础：熟悉机器学习基本理论和算法，有良好的数学基础。</li>
              <li>通过海量数据挖掘、机器学习等方法进行核心策略的研究及开发。</li>
              <li>高性能、高并发的机器学习、数据挖掘方法及架构的研发。</li>
              <li>算法及数据挖掘在新业务领域的推进及应用。 </li>
              <li>用户分析、理解及建模，持续提升用户产品体验。</li>
            </ol>
          </h3>
          <h3>任职要求：
            <ol>
              <li>计算机/数学/统计学等相关专业本科以上学历，对数据比较敏感，且有良好沟通能力。</li>
              <li>对算法、海量数据挖掘有业界实践经验，熟悉机器学习、数据挖掘方法优先考虑。</li>
              <li>掌握常见的数据挖掘、机器学习工具。</li>
              <li>熟悉Hadoop, Spark 以及Map-Reduce计算模式有加分。</li>
              <li>三年以上经验。</li>
            </ol>
          </h3>
        </div>
      </div>

      <div class="cont-wrap">
        <div class="title">
          <img src="images/down.png">
          <p>Java软件工程师</p>
        </div>
        <div class="description">
          <h3>工作职责：
            <ol>
              <li>负责客户端产品的后端的技术架构与开发。 </li>
              <li>参与客户端产品的架构设计，分析和发现系统的优化点。</li>
              <li>参与核心模块的编码开发。</li>
            </ol>
          </h3>
          <h3>任职要求：
            <ol>
              <li>JAVA 后端软件工程师， 熟悉RESTful API， 1年以上工作经验。</li>
              <li>精通互联网应用设计模式，在大型分布式、高并发、高性能、高可用系统设计，开发和调优方面有实际经验。</li>
              <li>JAVA技术知识扎实，熟悉IO，多线程，异步处理，集合类等基础框架和常用中间件产品，熟悉缓存，消息，搜索等机制。</li>
              <li>热爱技术，参与技术开源社区者优先考虑。</li>
            </ol>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<%include ./footer %>