<%include ./nav%>
<div class="secure-top">
  <p class="text-center">安全与隐私</p>
</div>
<div class="container secure">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h3>安全与加密</h3>
      <p>品而金融在传输您的信息时使用了顶尖的安全技术，您的个人敏感信息将在完全加密后安全地传输和储存。</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <h3>顶尖的解决方案</h3>
      <p>我们会定期对第三方合作伙伴进行安全审查以保证我们系统的安全。同时，我们还使用了Verisign和其他顶尖的信息安全解决方案来保护我们系统的安全。</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <h3>设备安全验证</h3>
      <p>我们采用了金融机构级别的设备安全验证，您在使用新的设备登录账户之前必须进行新设备的授权。在您通过任何新设备登录您的账户之前，始终会收到短信验证码进行身份验证。</p>
    </div>
  </div>
</div>
<div class="mT-100"></div>

<% include ./footer %>