<div class="customer-container">
	<div class="container-fluid">
	    <div class="row">
		    <div class="col-md-4 text-center col-md-offset-4">
			    <h4>重置密码</h4>
		    </div>
	    </div>
	    <div class="row">
		    <div class="col-md-10 col-md-offset-1">
	    	    <form class="info-form">
		    	    <article> 
					    <div class="info-group">
						    <section class="section1">
					    	    <label for="originalPassword">原密码：</label>
						    </section>
						    <section class="section2">
					    	    <input class="form-control" placeholder="请输入您的原密码" name="originalPassword" type="password" id="originalPassword" ng-model="originalPassword"  required/>
						    </section>
						    <section class="section3" >
						    </section>
					    </div>
				    </article>
    			    <article>
				        <p class="change-error" ng-show="passwordNotRight" ng-cloak>密码必须包含字母和数字，并且不少于6位</p> 
					    <div class="info-group">
						    <section class="section1">
					    	    <label for="password">设置密码：</label>
						    </section>
						    <section class="section2" >
					    	    <input class="form-control" type="password" placeholder="请设置您的登入密码" name="password" id="password" ng-model="password"  maxlength="32" ng-blur="validPassword();passwordTip=false" ng-focus="passwordTip=true" required/>
						    </section>
						    <section class="section3">
					    	    <p ng-show='passwordTip' ng-cloak>密码至少大于6位，包含字母和数字</p>
						    </section>
					    </div>
				    </article>
				    <article>
				        <p class="change-error" ng-show="passwordNotMatch" ng-cloak>密码不匹配</p> 
					    <div class="info-group">
						    <section class="section1">
					    	    <label for="passwordConfirm">确认密码：</label>
						    </section>
						    <section class="section2" >
					    	    <input class="form-control" type="password" placeholder="请再次输入您的密码" name="passwordConfirm" id="passwordConfirm" ng-model="passwordConfirm"  maxlength="32" ng-blur="validateMatch()" required/>
						    </section>
						    <section class="section3">
					    	    <p ></p>
						    </section>
					    </div>
				    </article>
	    		    <article>
					    <p class="error-message" ng-bind="errorMsg">12345</p> 
					    <div class="info-group">
						    <section class="section1">
						    </section>
						    <section class="section2">
					    	    <button type="button" ng-click="changePassword()">重置密码&nbsp;&nbsp;<i class="fa fa-gear fa-spin" ng-show="resetFlag" ng-cloak></i></button>
						    </section>
						    <section class="section3" >
						    </section>
					    </div>
				    </article>
			    </form>
		    </div>
	    </div>
	</div>
</div>