<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../"></base>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>品而金融</title>
    <link rel="stylesheet" href="bower_components/weui/dist/style/weui.css"/>
    <link rel="stylesheet" href="bower_components/weui/dist/example/example.css"/>
</head>
<body ontouchstart>
    <div class="container js_container">

    </div>
    <script src="bower_components/weui/dist/example/zepto.min.js"></script>
    <script src="weixin/main.js"></script>
</body>
</html>
